* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 16px;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
/* Nav Begins */

.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
}
.nav a {
  font-size: 12px;
  font-weight: 500;
}
.nav .nav1 {
  width: 20%;
}
.nav .nav1 a img {
  width: 220px;
  padding-top: 10px;
}
.nav .nav3 a img {
  width: 17px;
  /* padding-top: 10px; */
}
.nav .nav2 {
  width: 60%;
  display: flex;
  justify-content: start;
  gap: 30px;
  margin: auto;
}
.nav .nav3 {
  width: 20%;
  display: flex;
  justify-content: end;
  margin: auto;
}
.nav .nav3 a {
  margin: 0 10px;
}
.nav .nav2 .megamenu .megacontent .row .column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav .nav2 .megamenu .megacontent .row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.nav .nav2 .megamenu {
  overflow: hidden;
  float: none;
}
.nav .nav2 .megamenu p {
  font-size: 12px;
  font-weight: 500;
}
.nav .nav2 .megamenu .megacontent {
  width: 100%;
  box-sizing: border-box;
  padding: 20px 250px 50px;
  margin-top: 5px;
  background-color: white;
  left: 0;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  font-weight: 100;
  /* opacity: 0; */
  display: none;
  /* visibility: hidden; */
}
.nav .nav2 .megamenu:hover .megacontent {
  /* opacity: 1; */
  display: block;
  /* visibility: visible; */
}

/* Nav Ends */

/* Section1 - Home */

.iSection1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.iSection1 .part1 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  gap: 70px;
  background-image: url(../img/index/image13.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.iSection1 .part1 .part12,
.iSection1 .part2 .part22 {
  padding-top: 50vh;
}
.iSection1 .part1 .part12 h2,
.iSection1 .part2 .part22 h2 {
  font-size: large;
  font-weight: 500;
  margin-bottom: 15px;
}
.iSection1 .part1 .part12 p,
.iSection1 .part2 .part22 p {
  font-size: small;
  font-weight: 500;
  margin-bottom: 15px;
}
.iSection1 .part1 .part12 button,
.iSection1 .part2 .part22 button {
  border: 2px solid black;
  color: white;
  background-color: black;
  padding: 10px 25px;
  font-size: x-small;
  font-weight: 900;
}
.iSection1 .part1 .part12 button:hover,
.iSection1 .part2 .part22 button:hover {
  background-color: inherit;
  color: black;
}
.iSection1 .part2 {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto;
  gap: 70px;
  background-image: url(../img/index/image14.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.iSection1 .part1 .part11,
.iSection1 .part2 .part21 {
  display: grid;
  grid-template-columns: 250px 250px;
  padding-top: 75vh;
  /* padding-left: 5rem; */
  box-sizing: border-box;
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 auto;
}
#bridalPart1:hover,
#fashPart2:hover {
  color: grey;
}

/* Section1 - Home */

/* Section 2 - Home Begins */

.section2 {
  width: 100%;
  height: 425px;
  box-sizing: border-box;
  /* display: flex;
    justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0 auto;
  margin: 100px 0px;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  position: relative;
  color: black;
}
.section2 .section2-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section2-box {
  width: 95%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  transition: all 0.5s ease-out;
}
/* .section21:hover, .section22:hover, .section23:hover{
    width: 80%;
    height: 90%;
    margin: 0 auto;
} */
.overlay1,
.overlay2,
.overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: pink;
}

.section2-box:hover .overlay1,
.section2-box:hover .overlay2,
.section2-box:hover .overlay3 {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
/* Section 2 - Home Ends */

/* section 3 begins */

.section3-home {
  width: 50%;
  text-align: center;
  font-size: 0.9em;
  margin: 0 auto;
}
.section3-home img {
  width: 110px;
  margin-top: 25px;
  margin-bottom: 70px;
}

/* section 3 - HOME ends */

/* SECTION 4 - HOME BEGINS */

.section4_home {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.section4_home .section4_na {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.section4_home .section4_na img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* SECTION 4 - HOME ENDS */

/* section 5 -home  begins*/

.section5_home {
  width: 90%;
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); */
  /* grid-template-columns: repeat(2, 500px); */
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  box-sizing: border-box;
}
.section5_ls2 {
  width: 32.5%;
  margin: auto 0;
}
.section5_ls2 p {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  margin-bottom: 5px;
}
.lastp {
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  color: lightgrey;
}
.section5_ls1,
.section5_ls2 {
  /* width: 100%; */
  box-sizing: border-box;
}
.section5_ls1 {
  width: 60%;
}
.section5_ls1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section5_ls2 img {
  width: 15px;
  padding-top: 10px;
  text-align: center;
}
.section5_ls2 h3 {
  font-size: x-large;
  margin-bottom: 10px;
}
.section5_ls2 h5 {
  font-size: 1em;
  margin-bottom: 10px;
}
.section5_ls2 button {
  padding: 15px 20px;
  margin-right: 20px;
  margin-top: 10px;
  color: white;
  font-size: x-small;
  font-weight: 900;
  background-color: black;
  border: 2px solid black;
}
.section5_ls2 button:hover {
  color: black;
  background-color: inherit;
}
.section5_ls2 button:last-of-type {
  background-color: inherit;
  color: black;
}
.section5_ls2 button:last-of-type:hover {
  background-color: black;
  color: white;
}
/* section 5 -home  ends*/

/* section 6 - home begins */

.section6_home {
  width: 93%;
  margin: 0 auto;
}
.section6_home h2 {
  font-size: 4em;
  font-weight: 500;
  margin-bottom: 70px;
}
.special_sassi {
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.section6_about {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 50px;
  margin: 0 auto;
  font-size: small;
  color: grey;
  line-height: 2;
  margin-bottom: 70px;
}
.section6_about b {
  color: black;
}

/* section 6 - home ends */

/* section 7 - home begins */

.section7_home {
  width: 93%;
  margin: 0 auto;
}
.section7_home h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 40px;
}
.section7_home .section7_insta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
.section7_home .section7_insta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section 7 - home ends */

/* footer begins */

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 90%;
  margin: 0 auto;
  margin-top: 70px;
}
.footer .footer_body img {
  width: 10px;
}
.footer_body li {
  list-style-type: none;
}
.footer_body a {
  font-size: x-small;
  color: grey;
  font-weight: 500;
}
.footer .footer_head {
  font-size: small;
  margin-bottom: 10px;
  font-weight: 600;
}
.footer1 {
  gap: 50px;
}
.footer5 .footer_body {
  margin-bottom: 50px;
}
.footer5 .footer_body ul {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

/* footer ends */

/* section 2 - shop begins */

.section2_shop {
  width: 100%;
  /* height: 100px; */
  box-sizing: border-box;
}
.section2_shop .part1 {
  width: 100%;
  height: 60vh;
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 70px; */
  background-image: url(../img/shop/img13.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
.section2_shop .part2 {
  width: 100%;
  height: 60vh;
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 70px; */
  background-image: url(../img/shop/img14.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section2_shop .part3 {
  width: 100%;
  height: 60vh;
  /* display: grid;
  grid-template-columns: auto auto;
  gap: 70px; */
  background-image: url(../img/shop/img15.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section2_shop .part4 {
  width: 100%;
  height: 60vh;
  /* display: grid; */
  /* grid-template-columns: auto auto; */
  /* gap: 70px; */
  background-image: url(../img/shop/img17.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.section2_shop .part1 .part11,
.section2_shop .part2 .part21,
.section2_shop .part3 .part31,
.section2_shop .part4 .part41 {
  display: grid;
  grid-template-columns: repeat(4, auto);
  max-width: 40%;
  gap: 20px;
  font-size: 1.1rem;
  margin: 0 auto;
  margin-left: 3rem;
  padding-top: 18rem;
}
#allBtn1:hover,
#allBtn2:hover,
#allBtn3:hover,
#allBtn4:hover,
#separateBtn1:hover,
#separateBtn2:hover,
#separateBtn3:hover,
#separateBtn4:hover,
#dAndJBtn1:hover,
#dAndJBtn1:hover,
#dAndJBtn2:hover,
#dAndJBtn3:hover,
#dAndJBtn4:hover,
#lifeStyleBtn1:hover,
#lifeStyleBtn1:hover,
#lifeStyleBtn2:hover,
#lifeStyleBtn3:hover,
#lifeStyleBtn4:hover {
  color: white;
}

/* section 2 - shop ends */

/* section 3 - shop begins */

.section3_shop{
  width: 48%;
  margin: 0 auto;
  font-size: .9rem;
  font-weight: 300;
  margin: 150px auto;
  text-align: center;
  line-height: 1.5;
  background-image: url(../img/shop/img17.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

/* section 3 - shop ends */

/* section 4 - shop begins */

.section4_shop{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 15px;
  margin: 0 auto;
}
.cat_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section 4 - shop ends */

/* section 2 - product begins */

.section2_pro{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pro_head1_head p{
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: grey;
}
.pro_head1_head p span{
  color: black;
  margin-left: 5px;
}
.pro_head1_head p img{
  width: 20px;
  color: grey;
  /* padding-top: 15px; */
}
.pro_head1_head h2{
  font-size: 2.5rem;
  width: 50%;
  line-height: 1.5;
  margin-bottom: 10px;
}
.pro_head1_head h6{
  font-size: 1rem;
  color: grey;
  font-weight: 500;
}
.pro_head1_colorBtn button {
  padding: 1rem;
  border-radius: 50%;
  margin: 5px;
}
#fuschiaBtn{
  background-color: fuchsia;
  border: 2px solid white;
  box-shadow: 2px 2px 2px;
}
#greenBtn{
  background-color: greenyellow;
  border: 2px solid white;
  box-shadow: 2px 2px 2px;
}
#navyBtn{
  background-color: navy;
  box-shadow: 2px 2px 2px;
}
.pro_head2 img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.pro_head1_desc p{
  font-size: .8rem;
  width: 65%;
  margin: 20px 0;
  color: grey;
  line-height: 2;
  font-weight: 500;
}
.pro_head1_desc p span{
  color: black;
}
.pro_head1_size{
  width: 40%;
  margin: 50px 0;
}
.pro_head1_size ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.add_to_cart button{
  padding: 1rem 1.5rem;
  margin-top: 2rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  font-size: .7rem;
  font-weight: 900;
}
.add_to_cart button:hover{
  background-color: inherit;
  color: black;

}

/* section 2 - product ends */

/* section 3 - product begins */

.section3_pro{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 150px;
  
}
.section3_pro .section3_col{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.section3_pro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* section 3 - product ends */

/* Cart Page begins */

.section2_cart {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 3rem;
  margin-left: 3rem;
}

.section3_cart{
  width: 90%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); */
  grid-template-columns: auto auto;
  gap: 100px;
  margin: 0 auto;
  margin-left: 10rem;
  margin-right: 10rem;

  @media (min-width: 500px) {
    display: block;
  }
}
.section3_cart1{
  width: 700px;
}
.section3_cart2{
  width: calc(100% - 150px);
}
.section3_cart1 .cart1_head p{
  font-size: .8rem;
  color: grey;
  font-weight: 500;
}
.section3_cart1 .cart1_head h3{
  font-size: 1.5rem;
  font-weight: 700;
}
.cart1_table_row{
  display: grid;
  grid-template-columns: 100px 300px 200px 0px;
}
.cart1_table_row:nth-child(1) {
  color: grey;
  font-size: .7rem;
  margin-top: 4rem;
}
.cart1_table_row .cart1_table_col{
  
  margin-top: 1rem;
  margin-bottom: .8rem;
}
.cart1_table_row .cart1_table_col h6{
  padding-top: 3.3rem;
}
.cart1_table_row .cart1_table_col p {
  font-size: .9rem;
  color: gray;
}
.cart1_table_row .cart1_table_col h4{
  color: lightgrey;
  font-size: 1.4rem;
}
.cart1_table_row .cart1_table_col input{
  width: 6rem;
  padding: 0.5rem 0 0.5rem 0;
  border: none;
  border-bottom: 2px solid black;
}
.cart1_table_row .cart1_table_col img{
  width: 5rem;
  height: 100%;
  object-fit: contain;
}
.cart1_coupon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  margin-top: 2rem;

}
.cart1_coupon input{
  width: 10rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
  border: none;
  border-bottom: 2px solid black;
  font-size: .7rem;
  margin-right: 1.5rem;
}
.cart1_coupon .cart_coupon button{
  padding: .5rem 1rem;
  font-size: .7rem;
  font-weight: 900;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.cart1_coupon .cart_coupon button:hover{
  background-color: inherit;
  color: black;
}
.cart1_coupon .coupon_update button{
  padding: .5rem 1rem;
  font-size: .7rem;
  font-weight: 900;
  background-color: inherit;
  color: lightgrey;
  border: 2px solid grey;
}
.section4_cart img{
  width: 20rem;
}
.section4_cart h3{
  color: grey;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.section4_cart span button{
  padding: 1rem 1rem;
  font-size: .7rem;
  font-weight: 900;
  background-color: black;
  color: white;
  border: 2px solid black;
}
.section4_cart span button:hover{
  background-color: inherit;
  color: black;
}
.section5_cart{
  background-color: #f1f1f1;
  width: calc(800px - 200px);
  margin: auto;
  padding: 3rem 2rem;
  padding-top: 3rem;
}
.section5_subtotal{
  display: flex;
  justify-content: space-between;
  color: grey;
  font-weight: 500;
  margin-bottom: 1rem;
}
.section5_total{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem; 
}
.section5_btn{
  display: flex;
  justify-content: flex-end;
}
.section5_btn button:nth-child(1){
  padding: 1rem 1rem;
  font-size: .7rem;
  font-weight: 900;
  background-color: initial;
  color: black;
  border: 2px solid black;
  margin-right: 1rem;
}
.section5_btn button:nth-child(1):hover{
  background-color: black;
  color: white;
}
.section5_btn button:nth-child(2){
  padding: 1rem 1rem;
  font-size: .7rem;
  font-weight: 900;
  background-color: black;
  color: white;
  border: 2px solid black;
  margin-right: 1rem;
}
.section5_btn button:nth-child(2):hover{
  background-color: inherit;
  color: black;
}
.section3_cart2 h4{
  color: grey;
  font-size: .9rem;
  font-weight: 500;
  line-height: 3;
}
.section3_cart2 p{
  color: grey;
  font-size: .7rem;
  font-weight: 200;
  line-height: 1.5;
}
.section3_cart2 a{
  color: grey;
  font-size: .7rem;
  font-weight: 500;
}

/* Cart Page ends */

/* create account page begins */

.section2_reg{
  width: 60%;
  padding: 5rem;
  text-align: right;
  margin: 0 auto;
}
.section2_login{
  padding: 5rem;
  width: 60%;
  margin: 0 auto;
}
.section3_reg{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 100px;
}
.section3_login{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 100px;
}
.section3_reg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section3_regform input{
  border: none;
  width: 100%;
  font-size: .6rem;
  font-weight: 700;
  padding: 0.7rem .5rem .7rem .7rem;
  border-bottom: 2px solid black;
}
.section3_logform input[type=email], .section3_logform input[type=password]{
  border: none;
  width: 100%;
  font-size: .6rem;
  font-weight: 700;
  padding: 0.7rem .5rem .7rem .7rem;
  border-bottom: 2px solid black;
}
.section3_regform p{
  font-size: .7rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section3_logform form a{
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.section3_register{
  display: flex;
  justify-content: space-between;
}
.section3_log{
  display: flex;
  justify-content: space-between;
}
.section3_register button{
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  border: 2px solid black;
  /* transition: all ease-in 300ms; */
}
.section3_log button{
  padding: 1rem 2rem;
  background-color: black;
  color: white;
  font-size: .7rem;
  border: 2px solid black;
  /* transition: all ease-in 300ms; */
}
.section3_register button:hover{
  background-color: inherit;
  color: black;
  transition: all ease-in 300ms;
}
.section3_log button:hover{
  background-color: inherit;
  color: black;
  transition: all ease-in 300ms;
}
.section3_register a{
  /* justify-items: center; */
  /* display: block; */
  margin: auto 0;
}
.section3_log label{
  display: block;
  margin: auto 0;
}

/* create account page ends */